/* Clients Section */
.clients {
    padding: 0rem 0;
    margin-top: 30rem;
    margin-bottom: 5rem;
}

/* Clients Container */
.clients-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns for desktop */
    text-align: center;
}

/* Mobile Responsive */
@media screen and (min-width: 280px) and (max-width: 1080px) {
    .clients {
        padding: 5rem 1rem; /* Reduced padding for mobile */
        margin-top: 25rem;
    }

    .clients-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
        text-align: center; /* Align text to the left on mobile */
        gap: 1rem; /* Added gap between grid items */
    }

    .client:nth-of-type(5) {
        display: none; /* Hide the 5th client item on mobile */
    }

    .client img {
        height: 1.5rem; /* Adjust image size for mobile */
    }
}
