.faqContainer {
    padding: 40px;
    background-color: hsl(0, 0%, 12%);
    color: white;
    margin-top: 12rem;
    border-radius: 8px;
    margin-bottom: 12rem;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 6rem;
  }
  
  .gridContainer {
    display: grid;
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .gridContainer {
      grid-template-columns: 1fr;
    }
  }
  